body{
    background-image: linear-gradient(#424242,#8d8d8d, #353534);
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border: 2px solid black;
    width: 15vw;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2%;
    margin-left: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.card img{
    width: 80%;
}
.card h2{
    font-size: 2vw;
    margin-top: auto;
    margin-bottom: 4px;
}
.card h1{
    font-size: 1vw;
    margin-top: auto;
    color: black;
}
.card form{
    width: auto;
    margin-bottom: 2px;
}
.card form button{
    width: auto;
    margin-bottom: 2px;
}
.card button a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.header {
    height: 5vw;
    background-color: rgb(22, 22, 22);
    margin-right: -0.5%;
    margin-left: -0.6%;
    width: 101%;
    
}
.header img{
    width: 5vw;
    margin-left: 5px;
}
.header h1{
    color: white;
    text-align: center;
    font-size: 3vw;
    margin-top: 1%;
}
h1{
    text-align: center;
    margin-top: 2vw;
    color: white;
}
    